body {
    overflow-y: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-window {
    overflow-y: hidden;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.alerbox-window {
    overflow-y: hidden;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.emote {
    width: 20px;
    height: 20px;
}

.hide-overflow {
    /* Used to prevent overflow in OBS browsers */
    overflow-y: hidden;
    max-height: 90vh;
}



/* HOMESITE */


body.homesite {
    --home-light: #161221;
    --home-dark: #110e1a;

    background-color: var(--home-dark);
    color: #aeacb0;
    display: flex;
    align-items: center;
    margin: 0px;
    overflow-y: scroll; 
}

.homesite .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.homesite .content {
    width: 75%;
    background-color: var(--home-light);
    display: inline-block;
    padding: 20px;
    min-height: calc(100vh - 40px);
    height: max-content;
}

.homesite .titlebar {
    margin-top: -30px;
}

.homesite .title {
    margin-top: 0px;
    text-decoration: none;
    font-size: x-large;
}

.homesite h2 {
    margin-bottom: 2px;
}

.homesite hr {
    width: 100%;
    height: 1px;
    border-style: none;
    background-color: #555;
    margin-top: 1px;
    margin-bottom: 1px;
}

.homesite a {
    color: #d3d3d3;
    text-decoration-color: #555;
}


.homesite h3 {
    margin-bottom: 2px;
}

.homesite .markdown p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.homesite .markdown pre {
    background-color: var(--home-dark);
}

.homesite table#themes {
    width: 100%;
    text-align: left;
}

.homesite table#themes tr {
    background-color: var(--home-dark);
}

.homesite table#themes * {
    width: 25%;
}

.homesite #previews iframe {
    width: 50%;
    height: 45vh;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: none;
}